{
  "extends": "airbnb",
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I dont want to make big changes now.
    "comma-dangle": 0,
    "semi": [2, "never"],
    "max-len": [2, 150, 2],
    "arrow-body-style": [0],
    "react/jsx-no-bind": [0],
    "react/prefer-stateless-function" : [0],
    "no-else-return": [0],
    no-param-reassign: ["error", { "props": false }]
  }
}
