{
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": 0,
    "semi": [2, "never"],
    "max-len": [2, 150, 2],
    "no-else-return": [0],
    "no-delete-var": 2,
    "no-undef": 2,
    "no-unused-vars": [2, {"args": "none"}]
  },
  "env": {
    "node": true,
    "es6": false
    }
  }
